
.input{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:transparent;
    border:solid;
    width:20rem;
    height: 2rem;
    border-radius: 5px;
  }
  .errorText{
    color:red;
    font-size: small;
  }
  .errorcolor{
    color:gray;
  }
  .correct{
    color:green;
  }
  .input_email{
    width:90%;
    height: 90%;
    border:none;
  }
  .input_password{
    width:90%;
    height: 90%;
    border:none;
  }
  .passwordShow_btn{
    border:none;
    color:gray;
    background-color: transparent ;
  }
